#container {
    position: relative;
}

#backgroundMap {
    position: absolute;
    margin-top: 10px;
    height: 730px;
    width: 1320px;
    background-image: url("/resources/backgrounds/registerCharacterBackground.jpg");
    left: 50%;
    margin-left: -660px;

}

#relativeContentOfPage {
    position: relative;
    width: 100%;
    height: 100%;
}

#stats {
    width: 42%;
    height: 62%;
    position: absolute;
    top: 15%;
    left: 8%;
}

#insideStats {
    position: relative;
    width: 100%;
    height: 100%;
}

#choseCharacter {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 256px;
    height: 306px;
    border: 3px solid darkred;
    background: rgb(216, 218, 227);
    background: radial-gradient(circle, rgba(216, 218, 227, 0.927608543417367) 51%, rgba(198, 154, 107, 0) 93%);
}

input[type="text"], input[type="password"], textarea {

    background-color: yellow;

}

.statsInput {

    color: darkred;
    text-align: center;
    font-weight: bold;
    width: 60px;
    height: 40px;
    font-size: 35px;
    border: 1px solid darkred;
}

.nicknameInput, .emailInput, .passwordInput, .classInput {
    font-family: 'Berkshire Swash', cursive;
    font-weight: bold;
    color: darkred;
    height: 40px;
    font-size: 35px;
}


.statImage {
    border: 1px solid darkred;
}

.statInfo {
    font-family: 'Berkshire Swash', cursive;
    font-size: 25px;
    width:115px;
    color: darkred;
}

.pointsLeft {
    font-family: 'Berkshire Swash', cursive;
    font-size: 35px;
    width: 50px;
    color: darkred;
    text-align: center;
}

.btn3d {
    text-decoration:none;
    font-family: 'Berkshire Swash', cursive;
    box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 3px 2px;
    o-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 3px 2px;
    -moz-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 3px 2px;
    -webkit-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 3px 2px;
    background: yellow;
    border:2px solid darkred;;
    text-indent:0px;
    line-height:45px;
    -moz-border-radius:0 25px 0 25px;
    -webkit-border-radius:0 25px 0 25px;
    border-radius:0 25px 0 25px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    font-size:30px;
    color:darkred;
    width:250px;
    height:50px;
    padding:4px;
    border-style:solid;
}

.btn3d:active {
    box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 0 2px;
    o-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 0 2px;
    -moz-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 0 2px;
    -webkit-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 0 2px;
    position:relative;
    top:3px
}

#divForRegisterButton
{
    width: 250px;
    height:70px;
    position: absolute;
    bottom: 0%;
}

.btn3d:hover {
    cursor: pointer;
    opacity:0.8;

}

.butn {
    position: absolute;
    bottom:0%;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: 'Berkshire Swash', cursive;
    color: darkred;
    font-size: 35px;
    background: yellow;
    padding: 10px 20px 10px 20px;
    border: solid darkred 4px;
    text-decoration: none;
}

.classInput {
    position: absolute;
    top: 325px;
    left: 100%;
    width: 256px;
    text-align: center;
}

.butn:hover {
    background: #fca63c;
    text-decoration: none;
    cursor: pointer;
}

#description {

    position: absolute;
    top: 15%;
    right: 3%;
    height: 365px;
    width: 350px;
    background-image: url("/resources/character/pergamin.png");
}

#insidePergamin {
    width: 100%;
    height: 100%;
    position: relative;
}

#shape18 {
    display: inline-block !important;
    width: 210px;
    height: 250px;
    transform: skew(-24deg);
    position: absolute;
    left: 17%;
    top: 19%;
    font-size: 16px;
    font-family: 'Berkshire Swash', cursive;
    color: darkred;
    text-align: left;

}

#rightArrow:hover, #leftArrow:hover {
    cursor: pointer;
    opacity: 0.6;
}

#increaseStrength:hover, #increaseWisdom:hover, #increaseHealth:hover, #decreaseStrength:hover, #decreaseWisdom:hover, #decreaseHealth:hover {
    cursor: pointer;
    transition: 0.4s;
    opacity: 0.5;
}

#imageHolder {
    width: 100%;
    height: 100%;
    position: relative;
}

.actual {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1.2s;
    opacity: 1;
}

.next {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1.2s;
    opacity: 0;
}

#statsTable
{
    position: absolute;
    top:50%;
}
#statsCalculation
{
    position: absolute;
    top:50%;
    left:50%;

}